@using Microsoft.AspNet.Identity
<ul class="nav navbar-top-links navbar-right">    
    <li>@Html.ActionLink("About", "About", "Site", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Contact", "Contact", "Site", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>

