
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>About</h3>
<br/>
<h4>There is immense ammount of wisdom and wit scattered in the world of films or to put it literraly, in the "words" of films.
This service is trying to make it easier to find the best and keep it in your collection. At the same time, users is what will make the service more intelligent, in the form of user ratings.</h4>
